.list {
	user-select: none;
	margin: 0 auto 20px;
	box-shadow: 5px 5px 15px rgb(173, 173, 173);


	&__item {
		padding: 5px 0px;
		display: grid;
		grid-template: minmax(20px, auto) / repeat(20, 1fr);
		background: #fffef9;

		&:not(:last-child) {
			border-bottom: 1px solid rgb(185, 185, 185);
		}
	}

	&__name,
	&__salary,
	&__mark,
	&__raise,
	&__delete {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 19px;
	}

	&__name {
		grid-column: 1 / 8;
		padding: 5px 15px;
		justify-content: left;
		transition: all 0.1s linear;

		&_marked,
		&_raised,
		&_markedAndRaised {
			font-size: 20px;
			text-decoration: underline;
			font-style: italic;
			font-weight: bold;
			text-decoration-thickness: 4px;
		}

		&_marked {
			text-decoration-color: orange;
		}

		&_raised {
			text-decoration-color: #3cb75c;
		}

		&_markedAndRaised {
			font-size: 22px;
			// text-decoration: none;
			text-decoration-color: gold;
			color: #04c16a;
		}
	}

	&__salary {
		grid-column: 8 / 16;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: text;

		&:hover {
			text-decoration: underline;
			text-decoration-thickness: 2px;
		}
	}

	&__actions {
		grid-column: 16 / 20;
		display: grid;
		grid-template: minmax(20px, auto) / repeat(9, 1fr);
		text-align: center;
		align-items: center;

		button {
			height: 30px;
			width: 30px;
			border: none;
			background: #fffef9;

			&:hover {
				border-radius: 14px;
			}
		}
	}

	&__mark,
	&__raise,
	&__delete {
		font-size: 26px;
		font-weight: bold;
		transition: all 0.1s linear;
		cursor: pointer;

		&:hover {
			transform: scale(1.2);
		}

		&:active {
			transform: scale(1);
		}
	}

	&__mark {
		grid-column: 1 / 4;

		&:hover {
			color: #F2D866;
		}

		&:active {
			color: #e5be12;
		}

		&_active {
			color: Orange;
			transform: scale(1.3);

			&:hover,
			&:active {
				color: rgb(248, 184, 66);
				transform: scale(1.3);
			}
		}
	}

	&__raise {
		grid-column: 4 / 7;

		&:hover {
			color: #65e565;
		}

		&:active {
			color: #62da62;
		}

		&_active {
			color: #11c111;
			transform: scale(1.3);

			&:hover,
			&:active {
				color: #11cf11;
				transform: scale(1.3);
			}
		}
	}

	&__delete {
		grid-column: 7 / 10;

		&:hover {
			color: tomato;
		}

		&:active {
			color: brown;
		}
	}
}