.filters {
	background-color: #3d5a80;
	padding: 20px;
	margin: 0 auto 20px;

	&__finder {
		width: 100%;
		font-style: italic;
		padding: 5px 15px;
		border: none;
		outline-color: BurlyWood;
		user-select: none;
		margin-bottom: 10px;
		font-size: 17px;
		line-height: 17px;

		&:focus {
			box-shadow: 0px 0px 4px 3px BurlyWood;
		}
	}

	&__buttons {
		display: flex;
		user-select: none;
	}

	&__button {
		border: 1px solid white;
		background-color: #3d5a80;
		color: white;
		cursor: pointer;
		padding: 5px 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(2) {
			transform: translateX(-1px);
		}

		&:nth-child(3) {
			transform: translateX(-2px);
		}

		&:hover {
			box-shadow: 0px 3px 5px white;
		}

		&:active {
			transform: scale(0.95);
		}

		&_active {
			background: snow;
			color: black;
			box-shadow: 0px 3px 5px rgb(25, 152, 168);
			font-weight: bold;

			&:hover {
				box-shadow: 0px 3px 5px rgb(25, 152, 168);
			}
		}
	}
}